<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"
         type="System.Diagnostics.ConsoleTraceListener" />

      <add name="TextWriter"
   type="System.Diagnostics.TextWriterTraceListener"
           traceOutputOptions="DateTime" customLocation="Logs" location="Custom"   logFileCreationSchedule="Daily"
           />
      
      <add name="filelog"
       type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic,  Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
       traceOutputOptions="DateTime" customLocation="Logs" location="Custom"   logFileCreationSchedule="Daily" />
   
    <add name="filelogDetail"
 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic,  Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
 traceOutputOptions="DateTime,ProcessId,ThreadId,Callstack,LogicalOperationStack,Timestamp" customLocation="Logs" location="Custom"   logFileCreationSchedule="Daily" />
    </sharedListeners>
    <sources>
      <source name="MainLog" switchValue="All">
        <listeners>
          <clear />
          <add name="console"/>
        </listeners>
      </source>
      <source name="ConfigLog" switchValue="All">
        <listeners>
          <clear />
          <add name="console"/>
        </listeners>
      </source>
      <source name="cgilog" switchValue="All">
        <listeners>
          <clear />
          <add name="filelog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>