<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="AliveDB" connectionString="data source=Herkules\Dev;initial catalog=HaxitDB;integrated security=True;;Connection Timeout=5;"/>
    </connectionStrings>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
</configuration>
